<button (click)="onback()" class="btn btn-primary btn-xs m-3" type="button">Back</button>
<br>
<button (click)="onSelectedNext()" class="btn btn-primary btn-xs" type="button">Next</button>
<button routerLink="/proprety-detail/1" class="btn btn-primary btn-xs" type="button">1</button>
<button routerLink="/proprety-detail/2" class="btn btn-primary btn-xs" type="button">2</button>
<button routerLink="/proprety-detail/3" class="btn btn-primary btn-xs" type="button">3</button>
<p>
  proprety-detail works!
  with the following id {{propretyId}}. please
</p>
